<div class="container">
    <div class="row">
        <div class="col-12">
            Nombre de la app: Equipos
        </div>
    </div>
    <div class="row text-center" style="justify-content: center;">
        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-dark" style="display: block; margin: auto; width: 100%;" [routerLink]="['/plantel']">Plantel</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-dark" style="display: block; margin: auto; width: 100%;" [routerLink]="['/jugadores']">Tarjetas</button>
            </div>
        </div>
    </div>
</div>