<div class="container">
    <div class="row text-center" style="justify-content: center;">
            <div class="col-6">
                Equipo 1
                <ul >
                    <li *ngFor="let t1 of teamTwo; let i = index">
                        {{t1.nombre}}
                    </li>
                </ul>
            </div>
            <div class="col-6">
                Equipo 2
                <ul >
                    <li *ngFor="let t2 of teamTwo; let i = index">
                        {{t2.nombre}}
                    </li>
                </ul>
            </div>
    </div>
</div>
