<p>Tarjeta por jugador</p>

<div class="card" style="width: 18rem; margin-bottom: 10px;" *ngFor="let jugador of jugadores; let i = index">
    <img src="{{jugador.url}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{jugador.nombre}}</h5>
      <p class="card-text">Podria agregar breve descripcion del jugador</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Posicion: {{jugador.posicion[0]}}</li>
      <li class="list-group-item">Mejor habiliddad: </li>
      <li class="list-group-item">Peor habilidad: </li>
    </ul>
 </div>